/*Backgrounds*/
$color-primary: #e56302;
$color-on-primary: #fff;

$color-light: #ebf7fa;
$color-on-light: #fff;

$color-dark: #002373;
$color-primary-dark: #d03600;
$color-on-dark: #fff;

$color-accent: #e71a61;
$color-on-accent: #000;

$color-accent-dark: #13005A;
$color-on-accent-dark: rgba(255,255,255,0.8);

$color-accent-light: #f0fcff;
