div,form{
    box-sizing: border-box;
}
.layout-container{
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    .sidebar{
        flex: 1;
        border-right: 1px solid #ddd;
    }
    .content-wrapper{
        flex: 6;
        padding:0 1.5rem;
    }
}
table .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.8rem;
    a{
        color: #666;
        text-decoration: none;
        &:hover{
            color: #000;
        }
    }
}
table tr.checked td{
    background-color: #daf5d0;
    border-color: #cbf0b9;
}
.list-image{
    background-color:#eee;
    min-width: 60px;
    min-height: 40px;
    display: inline-block;
    border-radius: 10px;
}


.border-box{
    border: 1px solid #ddd;
    height: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    .box-label{
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}