.section-event-list{
    padding: 2rem 0;
}
.event-list{
    margin: 0;
    padding: 0;
    list-style: none;
    > .item{
        display: flex;
        justify-content: space-between;
        column-gap: 1.5rem;
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            border-bottom: none;
        }
        .date{
            font-size: 1.2rem;
            width: 120px;
            text-align: center;
            .item{
                >.title{
                    padding: 0.4rem 1rem;
                    font-size: 0.8rem;
                    font-weight: 600;
                    background-color: rgba(0,0,0,0.1);
                }
                >.body{
                    padding: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                background-color: red;
                color: #fff;
                .year{font-size: 0.9em;}
                .month{font-size: 0.9em;}
                .day{font-size: 0.9em;}
                .day_num{font-size: 2em; font-weight: 600;}
                &.date-to{
                    border-top: 1px dashed #fff;
                }
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 0.5rem;
            .title{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .actions{
                margin-top: auto;
                .btn{
                    border-radius: 2px;
                }
            }
        }
        .image{
            margin-left: auto;
            img{
                width: 180px;
            }
        }
    }
}